<div class="header">
  <h1>MyStore</h1>
  <a routerLink="/products">Product List</a><span> | </span>
  <a routerLink="/cart">Cart</a>&nbsp;<span>[{{ totalCartQuantity }}]</span>
  <span *ngIf="userIsLoggedIn === false"> | </span>
  <a routerLink="/authenticate" *ngIf="userIsLoggedIn === false">Login</a>
  <span *ngIf="userIsLoggedIn === true"> | </span>
  <a routerLink="/orders" *ngIf="userIsLoggedIn === true">View Orders</a>
  <span *ngIf="userIsLoggedIn === true"> | </span>
  <a routerLink="/" *ngIf="userIsLoggedIn === true" (click)="logout()"
    >Logout</a
  >
</div>
